server {
    listen 80;
    listen [::]:80;

    root /home/finalproj/cs4550-final-project/web-ui/build;

    # Add index.php to the list if you are using PHP
    index index.html;

    server_name roommate.gkriti.art www.roommate.gkriti.art;

    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        try_files $uri /index.html =404;
    }

    location /api/v1 {
            proxy_pass  http://localhost:4740;
    }

    location /socket {
        proxy_pass http://localhost:4740;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

}
